/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Navbar Container */
.nav-header {
  background-color: #131313;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f3f3f3;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav a.active{
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color:white;
  font-weight:bold;
}

/* Navbar Content */
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  padding: 15px 0;
}

/* Website Logo */
.website-logo {
  width: 120px;
  cursor: pointer;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #eceff3;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fbfbfb;
}


/* Mobile Menu Toggle */
.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Mobile View Styles */
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #131313;
    width: 100%;
    padding: 20px 0;
  }

  .nav-menu-open {
    display: flex;
  }

  .nav-menu li {
    margin: 15px 0;
    text-align: center;
  }

  .mobile-menu-toggle {
    display: block;
  }
}

/* Responsive Logo */
@media screen and (max-width: 480px) {
  .website-logo {
    width: 90px;
  }
}