.app-container {
  padding:40px;
}
  .image {
    width: 800px;
    height: 800px;
  }
  
  @media screen and (min-width: 768px) {
    .image {
      width: 380px;
      height: 300px;
    }
  }
  .left-side-bg{
    border:10px;
    border-radius: 30px;;
    background-color: green;
    margin-left:20px;
    width:300px;
  }
  
  .get-bg{
    align-items: center;
    background-color: black;

  }
