.movie-search-container {
    text-align: center;
  }
  
  .movie-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    width: 200px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card h4 {
    margin: 10px 0;
  }
  
  button {
    padding: 10px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  