/* Custom styles for the timeline */
.chrono-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.body, html {
  background-color: rgb(18, 18, 18);
 
}

/* Ensure the timeline takes full height */
.full-screen-timeline {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
}
.BG{
  margin:60px;

}
.BG{
  background-color:  rgb(18, 18, 18);
}
.head{
  text-align:center;
  font-size: 30px;
}